<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>How do I search for a musician to meet my needs?</summary>
          <p>Only To The Gig offers comprehensive search features so you can find exactly WHO you need. <br /><br />

            Our members complete detailed questionnaires and our site lets you search for matches in 25 areas! <br /><br/>

            Distance, experience, instruments played, specific skills like "site reading" or "transpose on the fly", musical genres, and more. </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How do I post, update or remove a video?</summary>
          <p>It's simple! Open your profile and add record a new video right from your phone, or import a video from a wide variety of your on-line source, Youtube, Vimeo, Dropbox, etc.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Does To The Gig get involved in payment or have any Gig fees?</summary>
          <p>To The Gig does NOT get involved in your financial transactions. We help you find musicians and performers that meet your needs, we give you a simple way to contact them, after that it's up to you.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How do I contact a musician directly?</summary>
          <p>Each To The Gig member adds text and email contact information in their profile. When you find a musician you want to contact you just click and message them.
          </p>
        </details>
      </li>
 <!--    </ul>
    <ul class='col2'> -->
      <li>
        <details class=''>
          <summary>What is a "Backer"? What do you mean by "Pre-Launch Special"?</summary>
          <p>"Backers" are our supporters who donate money to help us finish and launch the full product. Backers get a t-shirt and a special graphic symbol on their profile in return for there support.
          </p>
          <p> Our "Pre-Launch" special allows us to "hit the ground running". When you, along with a few thousand other musicians sign up you get a special low 1-year subscription rate. When we launch the App all the Pre-Launch members get notified and have their accounts setup for use, the system comes up live with lots and lots of people from day 1.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>When will the service be live? What is Pre-Launch?</summary>
          <p>We are using this site and your interest to finish the creation and launch of To The Gig. It's like our own version of Kickstarter. We have 95% of the technology working, but we don't want to launch until we have a few thousand members ready to go! That's what makes our site valuable. <br /><br />As of January 2016 we have almost 2,000 musicians raring to go! Join us. Right now we are planning to launch the application in the fall of 2016.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>How is this different than the hundreds of other Gig Sites?</summary>
          <p>Simple, we are focused on satisfying two needs: helping bands find musicians and helping musicians get more gigs. To The Gig is created by musicians for musicians.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>How can I buy more shirts with that great To-The-Gig Logo?</summary>
          <p>Soon we will post a link here to an on-line store so you can buy additional To The Gig shirts.
          </p>
        </details>
      </li>
    </ul>
  </div>
</div>
