.read_more {
width: 75%;
padding: 20px;
margin: 20px auto;
align: center;
color: black;
background-color: white;
font-size: 1em;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 100px;
    text-align: center;
    top: 5px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    &:hover {
      background: #fea100;
      cursor:pointer;
      text-decoration: none;
    }
}

.white-popup {
  position: relative;
  background: #FFF;
  font-weight: 400;
  padding: 20px;
  width: 400px;
  max-width: 500px;
  margin: 20px auto;
  color: #000;
  h2 {
    font-size: 1.5em;
    text-align: left;
    font-weight: 400;
    margin-top: 20px;
  }
  select {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  label {
    font-size: 1em;
    text-align: left;
    font-weight: 100;
  }
  input[type=radio] {
    text-align:left;
    margin: 10px;
  }
  #alert_no_selection, #alert_shipping, #alert_not_available {
    margin: 20px 0px 20px 0px;
    padding: 0px 10px 0px 10px;
    color: red;
  }
  
  button {
    margin:auto;
    min-width: 100%;
    max-width: 100%;
    width: 200px;
    padding: 20px;
    background-color: #ff8f22;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    max-height: 70px;
    min-height: 70px;
    font-size: 1.3em;
  }
  button:hover {
    background-color: #be5815;
    cursor: pointer !important;
  }
  #submit_holder{
    margin-top: 50px;
    margin-bottom: 10px;
  }
  #cancel_holder {
   margin-top: 30px;
   margin-bottom: 30px; 
  }
  #address_details {
    input[type=text] {
      width: 390px;
      margin-bottom: 10px;
    }
  }
  hr {
    margin-top: 15px;
  }
}

.glass {
  display: none;
  top: -5%;
  left: -5%;
  position: absolute;
  z-index: 9999;
  background-color: rgba(0,0,0,0.3);
  width: 110%;
  height: 110%;
  color: orange;
}


.flex_popup {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  .flex_head {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    background-color: rgb(220,220,220);
    border-radius: 4pt;
    padding: 20px;
    align-items: center;
    .flex_image {
      width: 450px;
      padding-left: 50px;
      max-width: 450px;
      min-width: 200px;
      justify-content: center;
      align-content: center;
      align-items: center;
      img { 
        border-radius: 10%;
        border: 2px solid white;
      }
    }
    .flex_title {
      display: flex;
      flex: 1;
      flex-flow: column wrap;
      padding-left: 50px;
    }
  }
  .flex_row {
    //display: flex;
    flex: 1;
    margin: 20px 0;
    //flex-flow: column wrap;
    p { margin-top: 10px; }
    border-top: 1px solid rgb(150,150,150);
    border-left: 1px solid rgb(150,150,150);
    border-radius: 14pt 0 0 0;
    padding: 0 20px 10px 20px;
  }
}

strong {
  font-weight: bolder;
}
em {
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .flex_popup {
    line-height: 1.3em;
    .flex_head {
      flex-flow: column nowrap;
      .flex_image {
        img { 
        }
        margin-bottom: 20px;
      }
      .flex_title {
        padding-left: 0px;
        h4, h3 {
          line-height: 1em;
          margin: 10px 0px;
        }
        h3 { font-size: 1.7em;}
        h4 { font-size: 1.2em;}
      }
    }
    .flex_row {
    }
  }
}
